<!DOCTYPE html>
<html lang="en" ng-app="personRegistrationSystem">
<head>
	<meta charset="UTF-8">
	<title>Person Registration System</title>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
	<!-- Third party libraries -->
	<script src="libraries/angular.min.js"></script>
	<script src="libraries/angular-ui-router.min.js"></script>
	<!-- Custom libraries -->
	<script src="app.js"></script>
	<script src="components/role_management/role_management.component.js"></script>
	<script src="components/login/login.component.js"></script>
	<script src="services/authentication.service.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			<!-- TODO: Navigation to other modules -->
			</div>
			<div class="col-sm-6 text-right">
				{{tr('language.choose')}}
				<select ng-model="locale" ng-change="onLocaleChange(locale)">
					<option value="en">{{tr('language.english')}}</option>
					<option value="fil">{{tr('language.filipino')}}</option>
				</select>
	      <button ng-if="$state.current.name !== 'login'" ng-click="logout()">Logout</button>			
			</div>
		</div>
		<ui-view>
			<login></login>
		</ui-view>
	</div>
</body>
</html>