<!DOCTYPE html>
<html lang="en" ng-app="personRegistrationSystem">
<head>
	<meta charset="UTF-8">
	<title>Person Registration System</title>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
	<!-- Third party libraries -->
	<script src="libraries/angular.js"></script>
	<script src="libraries/angular-ui-router.js"></script>
	<script src="libraries/angular-base64.js"></script>
	<script src="libraries/angular-cookies.js"></script>
	<script src="libraries/ng-file-upload-all.js"></script>
	<script src="libraries/zepto.js"></script>
	<!-- Custom libraries -->
	<script src="app.js"></script>
	<script src="app.config.js"></script>
	<script src="components/person_management/person_management.component.js"></script>
	<script src="components/role_management/role_management.component.js"></script>
	<script src="components/user_management/user_management.component.js"></script>
	<script src="components/login/login.component.js"></script>
	<script src="services/authentication.service.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<nav ng-if="$state.current.name !== 'login'">
					<ul>
						<li ng-if="$state.current.name !== 'personManagement'">
							<a ui-sref="personManagement">
								{{tr('navigation.persons')}}
							</a>
						</li>
						<li ng-if="$state.current.name !== 'roleManagement'">
							<a ui-sref="roleManagement">
								{{tr('navigation.roles')}}
							</a>
						</li>
						<li ng-if="$state.current.name !== 'userManagement' && access('ROLE_ADMIN')">
							<a ui-sref="userManagement">
								{{tr('navigation.users')}}
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-6 text-right">
				{{tr('language.choose')}}
				<select ng-model="locale" ng-change="onRootLocaleChange(locale)">
					<option value="en">{{tr('language.english')}}</option>
					<option value="fil">{{tr('language.filipino')}}</option>
				</select>
	      <button ng-if="$state.current.name !== 'login'" ng-click="logout()">Logout</button>			
			</div>
		</div>
		<ui-view>
		</ui-view>
	</div>
</body>
</html>