<div class="row">	
  <div class="col-sm-4">
    <div class="alert alert-danger" ng-repeat="errorMessage in $ctrl.errorMessages.default">
      {{errorMessage}}
    </div>
    <div class="alert alert-success" ng-if="$ctrl.successMessage">
      {{$ctrl.successMessage}}
    </div>    
    <h3 ng-if="!$ctrl.command.id && access('ROLE_CREATE_ROLE')">{{tr('role.headerTitle.create')}}</h3>
    <h3 ng-if="$ctrl.command.id && access('ROLE_UPDATE_ROLE')">{{tr('role.headerTitle.update')}}</h3>
    <form ng-if="$ctrl.command.id && access('ROLE_UPDATE_ROLE') || !$ctrl.command.id && access('ROLE_CREATE_ROLE')">
      <label for="name">
        {{tr('role.form.label.name')}}:
      </label>
      <input type="text" id="name" ng-model="$ctrl.command.name" />
      <div class="text-danger" ng-repeat="errorMessage in $ctrl.errorMessages.name">
        {{errorMessage}}
      </div>
      <button ng-click="$ctrl.onCommandSubmit($ctrl.command)">
        {{tr('form.button.submit')}}
      </button>
    </form>
  </div>
  <div class="col-sm-8">
    <h3>{{tr('role.data.header')}}</h3>
    <table class="table" ng-if="$ctrl.data.length > 0">
      <thead>
        <tr>
          <th>{{tr('role.data.column.name')}}</th>
          <th ng-if="access('ROLE_UPDATE_ROLE')"></th>
          <th ng-if="access('ROLE_DELETE_ROLE')"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="role in $ctrl.data">
          <td>{{role.name}}</td>
          <td ng-if="access('ROLE_UPDATE_ROLE')">
            <button ng-click="$ctrl.editRow($index)">{{tr('data.form.button.edit')}}</button>
          </td>
          <td ng-if="access('ROLE_DELETE_ROLE')">
            <button ng-click="$ctrl.deleteRow($index)">{{tr('data.form.button.delete')}}</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h5 ng-if="$ctrl.data.length === 0">
        {{tr('data.noRecordsFound')}}
    </h5>
  </div>
</div>