<div class="row">	
  <div class="col-sm-4">
    <div class="alert alert-danger" ng-repeat="errorMessage in $ctrl.errorMessages">  
      {{errorMessage}}
    </div>
    <div class="alert alert-success" ng-if="$ctrl.successMessage">
      {{$ctrl.successMessage}}
    </div>    
    <div class="form">
      <h3>{{$ctrl.headerTitle}}</h3>
      <!-- TODO: Authorization -->
      <form action="{{$ctrl.writeEndpoint}}" method="POST">
        <input type="hidden" name="id" />
        <label for="name">
          {{tr('role.form.label.name')}}:
        </label>
        <input type="text" name="name" />
        <button>
          {{tr('form.button.submit')}}
        </button>
      </form>   
    </div>
  </div>
</div>