<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernate_xml
		</property>
		<property name="hibernate.connection.username">exist</property>
		<property name="hibernate.connection.password">ex1stgl0bal</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<mapping class="com.ecc.hibernate_xml.model.Address" />
		<mapping class="com.ecc.hibernate_xml.model.Person" />
		<mapping class="com.ecc.hibernate_xml.model.Role" />
		<mapping class="com.ecc.hibernate_xml.model.Contact" />
		<mapping class="com.ecc.hibernate_xml.model.Landline" />
		<mapping class="com.ecc.hibernate_xml.model.Email" />
		<mapping class="com.ecc.hibernate_xml.model.MobileNumber" />
	</session-factory>
</hibernate-configuration>
